---
layout: default
---

{% for post in paginator.posts %}
<div class="post-header-home">
  <h1 class="post-title-home">
    <a href="{{ post.url | prepend:site.baseurl }}">{{ post.title }}</a>
  </h1>
  {% include post-header-home.html %}
</div>
<div class="post-excerpt-home">
  {{ post.excerpt }}
  <p class="hidden-p"><span class="f-left"><b class="c666">分类:</b>{{ post.categories  }}</span><span  class="f-right"><a href="{{ post.url | prepend:site.baseurl }}">阅读全文&rarr;</a></span></p>
</div>
{% endfor %}

<!-- 分页链接 -->
<div class="pagination">
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <a href="{{ site.baseurl }}">上一页</a>
        {% else %}
            <a href="/page{{ paginator.previous_page }}" class="previous">上一页</a>
        {% endif %}
    {% else %}
        <span class="previous">上一页</span>
    {% endif %}
        <span class="page_number ">当前第{{ paginator.page }}页，共{{ paginator.total_pages }}页</span>
    {% if paginator.next_page %}
        <a href="/page{{ paginator.next_page }}" class="next">下一页</a>
    {% else %}
        <span class="next ">下一页</span>
    {% endif %}
</div>