<div>
  <h3>
    关于我
  </h3>

  <p>
    <div class="media">
      <img src="{{ "/images/i.min.png" | prepend:site.baseurl }}" alt="it's me!" class="pull-left">
      <div class="media-body">
        <h4 class="media-heading">Acking</h4>
      </div>
    </div>
  </p>
  <h3>
    <form class="navbar-search pull-left" id="search-form">
        <input type="text" id="google-search" class="search-query" placeholder="搜索..">
    </form
  </h3>
</div>
<script>
jQuery("#search-form").submit(function(){
    var query = document.getElementById("google-search").value;
    window.open("http://google.com/search?q=" + query+ "%20site:" + "http://acking.github.io/writing/");
});
</script>