.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6{
	text-transform: inherit;
}
.reveal li.page-fy { list-style:none; margin-left:5px; font-size:70%; color:#5d6368;}
.reveal p.page-fy { list-style:none; font-size:70%; color:#606466;}
.c-333 { color:#333;}
.c-666 { color:#666;}
.c-999 { color:#999;}
.c-f00 { color:#f00;}
.c-69a1ff { color:#69a1ff;}
.c-b256ff { color:#b256ff;}
.c-17ff2e { color:#17ff2e;}
.reveal .with-blockquote { width:80%; font-size:55%;}
.reveal section img { border-radius:6px;}
table.tab1 { border:2px solid #fff;}
.reveal section img.noborder { border:none;}
.reveal blockquote {
	padding: 20px;
	color: #999;
}
.reveal p.font-14 {font-size: 50%;}
img.img { width: 60%;}
.reveal .eg-p { text-align: left;}
/*.reveal .eg-p h3 { text-align: left;}*/
.reveal .eg-p h3 {font-size: 80%;}
.reveal .eg-p ul li { font-size: 60%; font-weight: 200; margin-top: 10px; }
